<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Error Page</title>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
</head>
<body>

<div style="display: grid;grid-template-columns: 1fr">
    <div style="margin-top:150px;height: 800px;text-align: center;font-size: 225px;
font-family: kanit,sans-serif;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    font-weight: 200;
    background: linear-gradient(130deg,black,midnightblue);
    color: transparent;
    -webkit-background-clip: text;
    text-transform: uppercase;
}">
        <h>500 </h>
    </div>


    <div style="margin-top: 300px">
        <p style="margin-top:250px;text-align: center;font-size: 30px ;font-family: kanit sans-serif;color: black">
            Internal Server Error
        </p>
    </div>
    <div style="text-align: center;font-size: 20px ;font-family: kanit sans-serif;color: black">
        Wystąpiły wewnętrzne błędy serwera!
    </div>
    <form method="post" th:action="@{/index}">
        <div class="col-md-1 mt-5" style="margin-left:845px;bottom: 50px">
            <button class="btn btn-primary" style="cursor:pointer;background-color: white;border-width: 0" type="submit" value="Sign In">
                <span style="color: black;text-decoration: underline">Wróć do strony głównej</span>
            </button>
        </div>
    </form>


</div>







<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>

</body>
</html>