.container-image-slides{
    height: 1000px;
    background-color: darkgoldenrod;
    background-image: url("https://assets-global.website-files.com/5ade410fa6b645228369918f/5adf82cc388ed6058841468f_zebra-pattern-stripes-only.svg");
    background-size: 432px;
    background-repeat: repeat;
    display: flex;
    right: 0;
    position: static;
}
body{
    background: rgb(25,12,41);
}


#slider{
    overflow: hidden;
}
#slider figure{
    position: relative;
    width: 500%;
    bottom: 100px;
    right: 0;
    animation: 20s slider infinite;
}
#slider figure img{
    width: 20%;
    float: left;
}
@keyframes slider {
    0% {
        left: 0;
    }

    15% {
        left: 0;
    }
    20% {
        left: -100%;
    }
    35% {
        left: -100%;
    }
    40% {
        left: -200%;
    }
    55% {
        left: -200%;
    }
    60% {
        left: -300%;
    }
    75% {
        left: -300%;
    }
    80% {
        left: -400%;
    }
    100% {
        left: -400%;
    }

}